<h2>詳細</h2>

<ul>

  <li>
    <strong>氏名:</strong>
    <%= @student.name %>
  </li>

  <li>
    <strong>学年:</strong>
    <%= @student.grade %>
  </li>

</ul>

<span><%= link "編集", to: student_path(@conn, :edit, @student) %></span>
<span><%= link "戻る", to: student_path(@conn, :index) %></span>
