<h2>詳細</h2>

<ul>

  <li>
    <strong>科目名:</strong>
    <%= @subject.name %>
  </li>

  <li>
    <strong>担当講師:</strong>
    <%= @subject.teacher %>
  </li>

</ul>

<span><%= link "編集", to: subject_path(@conn, :edit, @subject) %></span>
<span><%= link "戻る", to: subject_path(@conn, :index) %></span>
