<h2>新規登録</h2>

<%= render "form.html", changeset: @changeset,
    action: score_path(@conn, :create),
    student: @student, subject: @subject %>

<span><%= link "戻る", to: score_path(@conn, :index) %></span>
